{% extends 'website/webbase.html' %}

{% load static  %}
{% block content %}

        <div class="st-height-b80 st-height-lg-b80"></div>
        <!-- Start FunFact Aection -->
        <section class="st-dynamic-bg st-bg" data-src="{% static 'images/webimages/strip-banner.jpg'%}">
            <div class="st-height-b100 st-height-lg-b50"></div>
            <div class="container">
                <div class="st-cta st-style1 text-center">
                    <h2 class="st-cta-title">For the People, By the People. </h2>
                    <div class="st-cta-subtitle">If you want to earn a little on the side  all you have to do is give us the references of the people who need help and earn a <b>SECOND INCOME.</b>
                    </div>
                </div>
            </div>
            <div class="st-height-b30 st-height-lg-b50"></div>
        </section>
        <!-- End FunFact Aection -->

          <!-- Start About Seciton -->
          <section id="about" style="background-color: #d1c5df;">
            <div class="st-height-b50 st-height-lg-b80"></div>
            <div class="container">
                <div class="st-section-heading st-style1">
                    <h2 class="st-section-heading-title">Welcome to PRAGATI CAPITAL & SERVICES</h2>
                    <div class="st-section-heading-seperator left wow fadeInRight" data-wow-duration="1s"
                        data-wow-delay="0.2s"></div>
                    <div class="st-section-heading-subtitle"></div>
                </div>
                <div class="st-height-b40 st-height-lg-b40"></div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="st-vertical-middle">
                            <div class="st-vertical-middle-in">
                                <div class="st-text-block st-style1">
                                    <h3 class="st-text-block-subtitle">About us</h3>
                                    <div class="st-height-b10 st-height-lg-b10"></div>
                                    <h2 class="st-text-block-title">We are awesome team work for your business dream
                                    </h2>
                                    <div class="st-height-b20 st-height-lg-b20"></div>
                                    <div class="st-text-block-text"><p>Pragati Capitals and Services has been in the market for more than 10 years, providing 40+ services, 
                                        and are associated with more than 200+ vendors. We provide all kinds of services to help solve peoples' problems, 
                                        from loans to government work, you need help – think PRAGATI CAPITALS. </p>
                                        <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end
                                            of the day, going forward, a new normal that has evolved from generation X is on the
                                            runway heading towards a streamlined cloud solution. User generated content in real-time
                                            will have multiple touchpoints for offshoring.</p>
                                    </div>  
                                            
                                </div>
                            </div>  
                        </div>
                        
                    </div><!-- .col -->
                    <div class="col-lg-6 wow fadeInRight" data-wow-duration="0.8s" data-wow-delay="0.2s">
                        <div class="st-hobble">
                            <div class="st-video-block st-style1 st-zoom st-hover-layer">
                                <div class="st-video-block-img st-zoom-in st-dynamic-bg"
                                    data-src="{% static 'images/webimages/about-us.jpg'%}"></div>
                            </div>
                        </div>
                        <!-- <div class="st-height-b30 st-height-lg-b30"></div> -->
                    </div><!-- .col -->
                </div>
            </div>
            <div class="st-height-b60 st-height-lg-b80"></div>
        </section>
       <!-- End About Seciton -->

       <div class="container">
        <div class="row mt-3">
          <div class="col-lg-6">
            <div class="st-iconbox st-style1">
              <div class="st-iconbox-icon"><i class="fa-solid fa-arrows-to-eye"></i></div>
              <h2 class="st-iconbox-title">Our Vison</h2>
              <div class="st-iconbox-text">Our vision is to provide a service platform <br>where people can seek help as well as haveanother means  ofearning through<br the reference> business model.A win-win situation for all. </div>
            </div>
            <div class="st-height-b30 st-height-lg-b30"></div>
          </div><!-- .col -->

          <div class="col-lg-6">
            <div class="st-iconbox st-style1">
              <div class="st-iconbox-icon"><i class="fa-solid fa-building-flag"></i></div>
              <h2 class="st-iconbox-title">Our Mission</h2>
              <div class="st-iconbox-text">Our mission is to provide a platform that<br> empowers the public by giving them an opportunity to earn a second income <br>making them self-sufficient. </div>
            </div>
            <div class="st-height-b30 st-height-lg-b30"></div>
          </div><!-- .col -->
        </div>
      </div>

    <!-- Start Skill Section -->
        <section class="logo-wm">
            <div class="st-height-b30 st-height-lg-b30"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="st-post-details st-style1">
                            
                            <div class="st-post-info">
                                <div class="st-post-text">
                                    <blockquote>“The sole reason we are in business is to make life less difficult for our clients”. – Unknown. 
                                    </blockquote>
                                    <div class="st-height-b30 st-height-lg-b30"></div>
                                    <p>We live by the quote, Pragati Capitals and Service's sole reason is to provide every possible solution for any problems faced by the people.
                                    
                                    With our diversified services and experts in the services we offer, we are sure to solve your problems. For us, customer satisfaction is our fuel to run this business. </p>
                                </div>
                                <div class="st-height-b35 st-height-lg-b35"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr>

       

    </div>





{%endblock%}