
{% extends 'base.html' %}

{% load static  %}
{% block content %}
{%load crispy_forms_filters%}




<div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Category</h4>
            <p class="card-description">
              Add New category
            </p>
            <form action="{% url 'lead:create_cat' %}" method="post" >
                {% csrf_token %}
              <div class="form-group">
                <label for="id_name">Name</label>
                <input type="text" class="form-control" name="name" autocomplete="off" required id="id_name" placeholder="Name">
              </div>
              
              <button type="submit" class="btn btn-primary mr-2">Submit</button>
              <a href="{% url 'lead:view_cat' %}"  class="btn btn-light">Cancel</a>
            </form>
          </div>
        </div>
      </div>

      {%endblock%}