
{% extends 'base.html' %}

{% load static  %}
{% block content %}
{%load crispy_forms_filters%}



<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Lead</h4>
      <p class="card-description">
        Add New Lead
      </p>
      <form class="forms-sample" action="{% url 'lead:create_lead_reg' %}" method="post"  >
        {% csrf_token %}
        <div class="form-group">
          <label for="id_lead_code">Lead Code</label>
          <input type="text" class="form-control" name="lead_code" value="{{ in_num }}" id="id_lead_code" readonly>
        </div>
        
        <div class="form-group">
          <label for="categoryoptions">Category</label>
          <select id="categoryoptions" class="form-control-sm custom-select" name="category">
            <option>Select Category</option>
            {% for category in category %}
            <option value="{{category.pk}}">{{category.name}}</option>
            {% endfor %}
          </select>
        </div>

      
        <div class="form-group">
          <label for="serviceoptions">Services</label>
          <select id="serviceoptions" class="form-control-sm custom-select" name="service_type">
            <option >Select Service</option>
            
           
          
          </select>
        </div>
        <div class="form-group">
          <label for="id_party_name">Name</label>
          <input type="text" class="form-control" name="party_name" id="id_party_name" autocomplete="off"  placeholder="Name" required>
        </div>
        <div class="form-group">
          <label for="id_party_mobile">Mobile</label>
          <input type="number" class="form-control" name="party_mobile" id="id_party_mobile" autocomplete="off"  placeholder="Mobile" required>
        </div>{% comment %} step="1"  {% endcomment %}
        <div class="form-group">
          <label for="id_party_email">Email address</label>
          <input type="email" name="party_email" class="form-control" id="id_party_email" autocomplete="off"  maxlength="254" placeholder="Email" required >
        </div>
        <div class="form-group">
          <label for="id_party_address">Address</label>
          <textarea class="form-control" maxlength="100" name="party_address" placeholder="Address" autocomplete="off"  id="id_party_address" rows="4" required></textarea>
        </div>
        <div class="form-group">
          <label for="id_remark">Remark</label>
          <textarea class="form-control" name="remark" maxlength="100" placeholder="Remark" autocomplete="off"  id="id_remark" rows="4"></textarea>
        </div>

        <div class="form-group">
          <label for="id_connector">Connector</label>
            <select class="form-control" name="connector"  id="id_connector" required >
              <option value="{{connect}}" selected></option>
              {% for i in connect%}
                <option value="{{i.id}}">
                    {{i}}
                </option>
                {% endfor %}
              </select> 
          </div>

          <div class="form-group">
            <label for="id_con_paybal_revenue">Paybal Revenue</label>
            <input type="text" class="form-control" name="con_paybal_revenue" id="id_con_paybal_revenue" autocomplete="off" default="0"  value="0" required>
          </div>
          
        <button type="submit" class="btn btn-primary mr-2">Submit</button>
     <a href="{% url 'lead:view_lead_reg' %}"  class="btn btn-light">Cancel</a>
      </form>
    </div>
  </div>
</div>
{%endblock%}

{% block script %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
 
// category & services

$("#categoryoptions").change(function () {
var cate_id = $(this).val();

$.ajax({
    url: "{% url 'web:ajax_load_states' %}",
    data: {
        'category': cate_id
    },
    success: function (data) {
        $("#serviceoptions").html(
            data);
    }
});

});


</script>
{% endblock script %}