{% extends 'base.html' %}

{% load static  %}
{% block content %}
{%load crispy_forms_filters%}



<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Connector</h4>
      <p class="card-description">
        Add New Connector
      </p>
      <form class="forms-sample" action="{% url 'lead:create_con_reg' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
          <label for="id_con_code">Connector Code</label>
          <input type="text" class="form-control" name="con_code" value="{{ in_num }}" id="id_con_code" readonly placeholder="Name">
        </div>
        <div class="form-group">
          <label for="id_con_name">Name</label>
          <input type="text" class="form-control" name="con_name" autocomplete="off" maxlength="50"  id="id_con_name" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="id_con_mobile">Mobile</label>
          <input type="number" name="con_mobile" class="form-control" autocomplete="off"  maxlength="50"  id="id_con_mobile" placeholder="Mobile">
        </div>
        <div class="form-group">
          <label for="id_con_email">Email address</label>
          <input type="email" name="con_email" class="form-control" autocomplete="off" id="id_con_email" placeholder="Email">
        </div>
       
        <div class="form-group">
          <label>File upload</label>
          <input type="file" name="con_document" class="file-upload-default">
          <div class="input-group col-xs-12">
            <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
            <span class="input-group-append">
              <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
            </span>
          </div>
        </div>
        <div class="form-group">
          <label for="id_con_account_no">Bank Account No</label>
          <input type="number" name="con_account_no" autocomplete="off" class="form-control" id="id_con_account_no" placeholder="Bank Account No">
        </div>
        <div class="form-group">
          <label for="id_con_bank_name">Bank Name</label>
          <input type="text" name="con_bank_name" autocomplete="off" class="form-control" id="id_con_bank_name" placeholder="Bank Name">
        </div>
        <div class="form-group">
          <label for="id_con_ifsc_code">IFSC Code</label>
          <input type="text" name="con_ifsc_code" autocomplete="off" class="form-control" id="id_con_ifsc_code" placeholder="IFSC Code">
        </div>
        <div class="form-group">
          <label for="id_con_branch">Branch Name</label>
          <input type="text" name="con_branch" autocomplete="off"  class="form-control" id="id_con_branch" placeholder="Branch Name">
        </div>
        
        <button type="submit" class="btn btn-primary mr-2">Submit</button>
        <button class="btn btn-light">Cancel</button>
      </form>
    </div>
  </div>
</div>
{%endblock%}