
{% extends 'base.html' %}

{% load static  %}
{% block content %}
{%load crispy_forms_filters%}





<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Service Types</h4>
        <p class="card-description">
          Add New Service
        </p>
        <form action="{% url 'lead:update_ser_type' editsertype.pk %}" method="post" >
            {% csrf_token %}
          
            <div class="form-group">
                <label for="id_category">Category</label>
                <input type="text" class="form-control" name="category" value="{{editsertype.category }}" readonly required id="id_category" placeholder="Name">
              </div>

            <div class="form-group">
                    <label for="id_name">Service Type</label>
                    <input type="text" class="form-control" name="name" autocomplete="off"  value="{{editsertype.name }}"  required id="id_name" placeholder="Name">
                  </div>
          
          <button type="submit" class="btn btn-primary mr-2">Submit</button>
          <a href="{% url 'lead:view_ser_type' %}"  class="btn btn-light">Cancel</a>
        </form>
      </div>
    </div>
  </div>

  {%endblock%}