
{% extends 'base.html' %}

{% load static  %}
{% block content %}
{%load crispy_forms_filters%}



{% comment %} <form action="{% url 'lead:update_con_reg' editconreg.pk %}" method="post" enctype="multipart/form-data" id="custom-step">
    {% csrf_token %}
  
  
    <p>
      <label for="id_con_code">Connector Code </label>
  
      <input type="text" name="con_code" maxlength="50" value="{{ editconreg.con_code }}" required readonly id="id_con_code">
    </p>
  
  
  
    <p>
      <label for="id_con_name">Name</label>
      <input type="text" name="con_name" maxlength="50" value="{{editconreg.con_name }}"  required id="id_con_name">
    </p>
  
  
    <p>
      <label for="id_con_mobile">Mobile</label>
      <input type="number" name="con_mobile" step="1" value="{{editconreg.con_mobile }}"  required id="id_con_mobile">
  
  
    </p>
  
  
    <p>
      <label for="id_con_email">Email</label>
      <input type="email" name="con_email" maxlength="254" value="{{editconreg.con_email }}"  required id="id_con_email">
  
  
    </p>
  
  
    <p>
      <label for="id_con_document">Documents</label>
      {% if editconreg.con_document %}
      <a href="/media/{{editconreg.con_document}}" target="_blank">View Documents</a>
      {% endif %}
      <input type="file" name="con_document" value=""  id="id_con_document">
  
  
    </p>
  
  
    <p>
      <label for="id_con_account_no">Bank Account No</label>
      <input type="number" name="con_account_no" step="1"  value="{{editconreg.con_account_no }}" required id="id_con_account_no">
  
  
    </p>
  
  
    <p>
      <label for="id_con_bank_name">Bank Name</label>
      <input type="text" name="con_bank_name" maxlength="50" value="{{editconreg.con_bank_name }}"  required id="id_con_bank_name">
  
  
    </p>
  
  
    <p>
      <label for="id_con_ifsc_code">IFSC Code</label>
      <input type="text" name="con_ifsc_code" maxlength="50" value="{{editconreg.con_ifsc_code }}"  required id="id_con_ifsc_code">
  
  
    </p>
  
  
  
  
    <p>
      <label for="id_con_branch">Branch Name</label>
      <input type="text" name="con_branch" maxlength="50" value="{{editconreg.con_branch }}"  required id="id_con_branch">
  
  
  
  
    </p>
  
  
    <button type="submit" class="btn btn-success">Save</button>
  
  </form>
{%endblock%} {% endcomment %}



<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Connector</h4>
      <p class="card-description">
        Edit Connector
      </p>
      <form class="forms-sample" action="{% url 'lead:update_con_reg' editconreg.pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
          <label for="id_con_code">Connector Code</label>
          <input type="text" class="form-control" name="con_code" value="{{ editconreg.con_code }}" id="id_con_code" readonly placeholder="Name">
        </div>
        <div class="form-group">
          <label for="id_con_name">Name</label>
          <input type="text" class="form-control" autocomplete="off"  name="con_name" value="{{editconreg.con_name }}" maxlength="50"  id="id_con_name" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="id_con_mobile">Mobile</label>
          <input type="number" name="con_mobile" autocomplete="off"  value="{{editconreg.con_mobile }}"  class="form-control"  maxlength="50"  id="id_con_mobile" placeholder="Mobile">
        </div>
        <div class="form-group">
          <label for="id_con_email">Email address</label>
          <input type="email" name="con_email" autocomplete="off"  class="form-control" value="{{editconreg.con_email }}"  id="id_con_email" placeholder="Email">
        </div>
        <div class="form-group">
          <label>Documents upload</label>
          {% if editconreg.con_document %}
      <a href="/media/{{editconreg.con_document}}" target="_blank">View Documents</a>
      {% endif %}
          <input type="file" value="" name="con_document" class="file-upload-default">
          <div class="input-group col-xs-12">
            <input type="text" class="form-control file-upload-info" autocomplete="off"  disabled placeholder="Upload File">
            <span class="input-group-append">
              <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
            </span>
          </div>
        </div>
        <div class="form-group">
          <label for="id_con_account_no">Bank Account No</label>
          <input type="number" name="con_account_no" autocomplete="off"  value="{{editconreg.con_account_no }}"  class="form-control" id="id_con_account_no" placeholder="Bank Account No">
        </div>
        <div class="form-group">
          <label for="id_con_bank_name">Bank Name</label>
          <input type="text" name="con_bank_name" autocomplete="off"  value="{{editconreg.con_bank_name }}"  class="form-control" id="id_con_bank_name" placeholder="Bank Name">
        </div>
        <div class="form-group">
          <label for="id_con_ifsc_code">IFSC Code</label>
          <input type="text" name="con_ifsc_code" autocomplete="off"  value="{{editconreg.con_ifsc_code }}" class="form-control" id="id_con_ifsc_code" placeholder="IFSC Code">
        </div>
        <div class="form-group">
          <label for="id_con_branch">Branch Name</label>
          <input type="text" name="con_branch" autocomplete="off"  value="{{editconreg.con_branch }}"  class="form-control" id="id_con_branch" placeholder="Branch Name">
        </div>
        
        <button type="submit" class="btn btn-primary mr-2">Submit</button>
        <a href="{% url 'lead:view_con_reg' %}"  class="btn btn-light">Cancel</a>
      </form>
    </div>
  </div>
</div>
{%endblock%}