
{% extends 'base.html' %}

{% load static  %}
{% block content %}
{%load crispy_forms_filters%}



{% comment %} <form action="{% url 'lead:update_con_reg' editconreg.pk %}" method="post" enctype="multipart/form-data" id="custom-step">
    {% csrf_token %}
  
  
    <p>
      <label for="id_con_code">Connector Code </label>
  
      <input type="text" name="con_code" maxlength="50" value="{{ editconreg.con_code }}" required readonly id="id_con_code">
    </p>
  
  
  
    <p>
      <label for="id_con_name">Name</label>
      <input type="text" name="con_name" maxlength="50" value="{{editconreg.con_name }}"  required id="id_con_name">
    </p>
  
  
    <p>
      <label for="id_con_mobile">Mobile</label>
      <input type="number" name="con_mobile" step="1" value="{{editconreg.con_mobile }}"  required id="id_con_mobile">
  
  
    </p>
  
  
    <p>
      <label for="id_con_email">Email</label>
      <input type="email" name="con_email" maxlength="254" value="{{editconreg.con_email }}"  required id="id_con_email">
  
  
    </p>
  
  
    <p>
      <label for="id_con_document">Documents</label>
      {% if editconreg.con_document %}
      <a href="/media/{{editconreg.con_document}}" target="_blank">View Documents</a>
      {% endif %}
      <input type="file" name="con_document" value=""  id="id_con_document">
  
  
    </p>
  
  
    <p>
      <label for="id_con_account_no">Bank Account No</label>
      <input type="number" name="con_account_no" step="1"  value="{{editconreg.con_account_no }}" required id="id_con_account_no">
  
  
    </p>
  
  
    <p>
      <label for="id_con_bank_name">Bank Name</label>
      <input type="text" name="con_bank_name" maxlength="50" value="{{editconreg.con_bank_name }}"  required id="id_con_bank_name">
  
  
    </p>
  
  
    <p>
      <label for="id_con_ifsc_code">IFSC Code</label>
      <input type="text" name="con_ifsc_code" maxlength="50" value="{{editconreg.con_ifsc_code }}"  required id="id_con_ifsc_code">
  
  
    </p>
  
  
  
  
    <p>
      <label for="id_con_branch">Branch Name</label>
      <input type="text" name="con_branch" maxlength="50" value="{{editconreg.con_branch }}"  required id="id_con_branch">
  
  
  
  
    </p>
  
  
    <button type="submit" class="btn btn-success">Save</button>
  
  </form>
{%endblock%} {% endcomment %}



<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Connector</h4>
      <p class="card-description">
        Show Connector
      </p>
      <form class="forms-sample" action="{% url 'lead:view_con_reg' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
          <label for="id_con_code">Connector Code</label>
          <input type="text" class="form-control" name="con_code" value="{{ editconreg.con_code }}" id="id_con_code" readonly placeholder="Name">
        </div>
        <div class="form-group">
          <label for="id_con_name">Name</label>
          <input type="text" class="form-control" name="con_name" value="{{editconreg.con_name }}" readonly maxlength="50"  id="id_con_name" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="id_con_mobile">Mobile</label>
          <input type="number" name="con_mobile" value="{{editconreg.con_mobile }}"  class="form-control"  readonly maxlength="50"  id="id_con_mobile" placeholder="Mobile">
        </div>
        <div class="form-group">
          <label for="id_con_email">Email address</label>
          <input type="email" name="con_email" class="form-control" value="{{editconreg.con_email }}" readonly id="id_con_email" placeholder="Email">
        </div>
        
        <div class="form-group">
          <label for="id_con_account_no">Bank Account No</label>
          <input type="number" name="con_account_no" value="{{editconreg.con_account_no }}" readonly class="form-control" id="id_con_account_no" placeholder="Bank Account No">
        </div>
        <div class="form-group">
          <label for="id_con_bank_name">Bank Name</label>
          <input type="text" name="con_bank_name" value="{{editconreg.con_bank_name }}" readonly class="form-control" id="id_con_bank_name" placeholder="Bank Name">
        </div>
        <div class="form-group">
          <label for="id_con_ifsc_code">IFSC Code</label>
          <input type="text" name="con_ifsc_code" value="{{editconreg.con_ifsc_code }}" readonly class="form-control" id="id_con_ifsc_code" placeholder="IFSC Code">
        </div>
        <div class="form-group">
          <label for="id_con_branch">Branch Name</label>
          <input type="text" name="con_branch" value="{{editconreg.con_branch }}" readonly class="form-control" id="id_con_branch" placeholder="Branch Name">
        </div>
        <div class="form-group">
          <label>Documents upload</label>
          {% if editconreg.con_document %}
      <a href="/media/{{editconreg.con_document}}" target="_blank">View Documents</a>
      {% endif %}
         
        </div>
        
        <button type="submit" class="btn btn-primary mr-2">Submit</button>
        <button class="btn btn-light">Cancel</button>
      </form>
    </div>
  </div>
</div>
{%endblock%}