
{% extends 'base.html' %}

{% load static  %}
{% block content %}



<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between">
        <h4 class="card-title">Leads</h4>
        <a href="{% url 'lead:add_lead_reg' %}">
        <button type="submit" class="btn btn-success">Add New Lead</button></a>
    </div>
    <p class="card-description">
        View Leads <h5 style="color:green">{% if messages %}
          {% for message in messages %}
              <div>{{ message }}</div>
          {% endfor %}
      {% endif %}</h5>
       </p>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th></th>       
                <th>Lead Code</th>
                <th>Service Type</th>
                <th>Party Name</th>
                <th>Mobile</th>
                <th>Email</th>
                <th>Address</th>
                <th>Remark</th>
                <th>Connector</th>
                <th>Status</th>
              </tr>
            
            </thead>
            <tbody>
              <tr>
                {% for i in view_lead_reg%}
                <td>{{forloop.counter}}</td>
            <td>{{i.lead_code}}</td>
            <td>{{i.service_type}}</td>
            <td>{{i.party_name}}</td>
            <td>{{i.party_mobile}}</td>
            <td>{{i.party_email}}</td>
            <td>{{i.party_address}}</td>
            <td>{{i.remark}}</td>
            <td>{{i.connector}}</td>
            <td>{{i.status}}</td>
            <td><a href="{% url 'lead:edit_lead_reg' i.pk  %}">Edit</a></td>
                
               
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}